################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/.vs/gasmaTools
/api/src/gasmaTools.Api/obj
/api/src/gasmaTools.Application/obj
/api/src/gasmaTools.Domain/obj
/api/src/gasmaTools.Infra.CrossCutting.Bus/obj
/api/src/gasmaTools.Infra.CrossCutting.Ioc/obj
/api/src/gasmaTools.Infra.CrossCutting.Logger/obj
/api/src/gasmaTools.Infra.Data/obj
/api/src/gasmaTools.Infra.Data.Migrations/obj
/api/src/gasmaTools.Abstraction.Data/bin/Debug/netcoreapp3.1
/api/src/gasmaTools.Abstraction.Data/obj
/api/src/gasmaTools.Api/bin/Debug/netcoreapp3.1
/api/src/gasmaTools.Domain.Abstraction/bin/Debug/netcoreapp3.1
/api/src/gasmaTools.Domain.Abstraction/obj/Debug/netcoreapp3.1
/api/src/gasmaTools.Domain.Abstraction/obj
/api/src/gasmaTools.Infra.Abstraction/bin/Debug/netcoreapp3.1
/api/src/gasmaTools.Infra.Abstraction/obj/Debug/netcoreapp3.1
/api/src/gasmaTools.Infra.Abstraction/obj
/api/src/gasmaTools.Domain/bin/Debug/netcoreapp3.1/gasmaTools.Domain.deps.json
/api/src/gasmaTools.Abstraction/bin/Debug/netcoreapp3.1
/api/src/gasmaTools.Abstraction/obj/Debug/netcoreapp3.1
/api/src/gasmaTools.Abstraction/obj
/api/src/gasmaTools.Api/gasmaTools.Api.csproj.user
/api/src/gasmaTools.Infra.CrossCutting.Ioc/bin/Debug/netcoreapp3.1
/api/src/gasmaTools.Infra.CrossCutting.Logger/bin/Debug/netcoreapp3.1
/api/src/gasmaTools.Application/bin/Debug/netcoreapp3.1
/api/src/gasmaTools.Domain/bin/Debug/netcoreapp3.1
/api/src/gasmaTools.Extensions/obj
/api/src/gasmaTools.Infra.CrossCutting.Bus/bin/Debug/netcoreapp3.1
/api/src/gasmaTools.Infra.Data/bin/Debug/netcoreapp3.1
/api/src/gasmaTools.Infra.Data.Migrations/bin/Debug/netcoreapp3.1
/api/src/gasmaTools.Infra.CrossCutting.Shared/bin/Debug/netcoreapp3.1
/api/src/gasmaTools.Infra.CrossCutting.Shared/obj
/api/test/gasmaTools.Test.Integration/bin/Debug/netcoreapp3.1
/api/test/gasmaTools.Test.Integration/obj
/api/test/gasmaTools.Test.Shared/bin/Debug/netcoreapp3.1
/api/test/gasmaTools.Test.Shared/obj
/api/test/gasmaTools.Test.Unit/bin/Debug/netcoreapp3.1
/api/src/gasmaTools.Abstraction/obj/Debug/netcoreapp3.1
/api/test/gasmaTools.Test.Unit/obj
/api/.vs
